<h1 class="center-block"><%= @topic.title %></h1>
<hr>
<div class="sub-title">
  <%# <%= link_to root_path do %>
  <%#   <%= icon("fas","home",{class: 'fa-fw'}) %>
  <%# <% end %> 
<span class="info"><%= @topic.created_at.strftime("%Y-%m-%d")  %></span>
  <!-- <span class="info">阅读<%= @topic.reading_count  %>次</span> -->
  <span class="split"></span>
  <% get_tags(@topic.tags).each do |topic_tag| %>
    <span class="tags"><%= topic_tag %></span>
  <% end %>
</div>
<div id="blog-content" data-content="<%= @topic.body %>">
</div>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://dccmm-world.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
