<!DOCTYPE html>
<html>
  <head>
    <title>梦里不知身是客</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1758385820416376",
        enable_page_level_ads: true
      });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120063959-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120063959-1');
    </script>
  </head>

  <body>
    <div class="container">
      <br></br>
      <div class="pull-right col-md-3 col-sm-12">
        <%= render "/layouts/search" %>
      </div>
      <%= yield %>
    </div>
    <%# <%= render "/layouts/footer.html.erb" %>
  </body>
</html>
