<!DOCTYPE html>
<html>
  <head>
    <title>ScriptBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <br></br>
      <div class="pull-right col-md-3">
        <%= render "/layouts/search" %>
      </div>
      <%= yield %>
    </div>
    <footer class="author">
      <hr>
      <span class="text-muted">梦里不知身是客 <i class="fa fa-heart"></i><a href="http://www.cnblogs.com/cmmdc/" target="_blank" class="girl-friend text-muted"> 一晌贪欢</a></span>
      <br></br>
    </footer>
  </body>
</html>
