<!DOCTYPE html>
<html>
  <head>
    <title>梦里不知身是客</title>
    <meta http-equiv="refresh" content="0;url=https://dccmm.world/<%=request.url.gsub("http://dccmm.world/","")%>">
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path("favicon.png") %>"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1758385820416376",
        enable_page_level_ads: true
      });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120063959-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120063959-1');
    </script>
  </head>

  <body>
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="/" title="Home">梦里不知身是客</a>
          <small>My little tech blog</small>
          <div id="search">
            <%= search_form_for @q,url: topics_path,html:{} do |f| %>
              <%= f.search_field :title_or_body_or_tags_cont , id: "search-query",placeholder: "Search" %>
            <% end %>
          </div>
        </h3>
      </div>
    </div>
    <div class="container main-content">
      <%= yield %>
    </div>
    <%= render "/layouts/footer.html.erb" %>
  </body>
</html>
